<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="create_user/" method="post">
        {% csrf_token %}
        <p>
            <label for="username">이름</label>
            <input id="username" type="text" name="username"/>
        </p>

        <p>
            <label for="userId">ID</label>
            <input id="userId" type="text" name="userId"/>
        </p>

        <p>
            <label for="password">비밀번호</label>
            <input id="password" type="text" name="password"/>
        </p>

        <button>가입하기</button>
    </form>

    <ul>
    {%for user in users%}
    <li>
        <p>{{user.username}}</p>
    </li>
    {%endfor%}
    </ul>
</body>
</html>